:root {
  --main-branding-1color: #0e0004;
  --main-branding-2color: #481117;
  --main-branding-3color: #6b0f1a;
  --main-branding-4color: #2e282b;
  --main-font-Title: "Nosifer", cursive;
  --main-font-subTitle: "Syne Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}

.container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-pc {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 95px;
}

.img-container-pc {
  display: flex;
  width: 300px;
}

.container-text-button {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.title-container-text-button {
  display: flex;
  text-align: center;
  color: #a01212;
  font-size: 30pt;
  font-family: "Nosifer";
}

.pie-pagina {
  clear: both;
  box-sizing: border-box;
  width: 100%;
  background-color: black;
  min-height: 50px;
  text-align: center;
  color: #fff;
  margin-top: 16px;
  padding-top: 3px;
}

.autor {
  margin-top: 10px;
  font-size: 15px;
  font-family: monospace;
}

/* Iphone 12 - horizontal  */
@media (max-width: 844px) and (max-height: 390px) and (orientation: landscape) {
  .container-1 {
    flex-direction: row;
    margin-top: -30px;
  }

  .container-pc {
    width: 400px;
    margin-right: 5px;
  }

  .container-text-button {
    width: 400px;
    margin-left: 5px;
    margin-top: 70px;
  }

  .img-container-pc {
    width: 250px;
  }

  .title-container-text-button {
    font-size: 25pt;
  }

  .button-container-text-button {
    padding: 15px 30px;
    font-size: 20px;
    margin-top: 30px;
  }

  .pie-pagina {
    margin-top: 25px;
  }
}

/* iPad Air - vertical */
@media (min-width: 820px) and (min-height: 1180px) {
  .container-1 {
    flex-direction: column;
    margin-top: 12px;
  }

  .container-pc {
    width: 400px;
  }

  .container-text-button {
    width: 400px;
    margin-top: 70px;
  }

  .img-container-pc {
    width: 400px;
  }

  .title-container-text-button {
    font-size: 45pt;
  }

  .button-container-text-button {
    padding: 15px 30px;
    font-size: 20px;
    margin-top: 10px;
  }

  .pie-pagina {
    margin-top: 25px;
  }
}

/* Ipad Air - horizontal */
@media (min-width: 1180px) and (orientation: landscape) {
  .container-1 {
    flex-direction: row;
    margin-top: 60px;
  }

  .container-pc {
    width: 400px;
    margin-right: 50px;
  }

  .container-text-button {
    width: 400px;
    margin-top: 110px;
    margin-left: 50px;
  }

  .img-container-pc {
    width: 400px;
  }

  .title-container-text-button {
    font-size: 45pt;
  }

  .button-container-text-button {
    padding: 15px 30px;
    font-size: 20px;
    margin-top: 10px;
  }

  .pie-pagina {
    margin-top: 136px;
  }
}

/* Desktop  */
@media (min-width: 1200px) {
  .container-1 {
    flex-direction: row;
    margin-top: 70px;
  }

  .container-pc {
    height: 400px;
    margin-right: 70px;
  }

  .container-text-button {
    height: 400px;
    margin-left: 70px;
    margin-top: 50px;
  }

  .img-container-pc {
    width: 500px;
  }

  .title-container-text-button {
    font-size: 50pt;
  }

  .button-container-text-button {
    padding: 15px 30px;
    font-size: 20px;
    margin-top: 30px;
  }

  .pie-pagina {
    margin-top: 143px;
  }
}
