:root{
    --main-branding-1color: #0E0004;
    --main-branding-2color: #481117;
    --main-branding-3color: #6B0F1A;
    --main-branding-4color: #2E282B;
    --main-font-Title:'Nosifer', cursive;
    --main-font-subTitle:'Syne Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-pc {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 190px;
}

.img-container-pc {
    display: flex;
    width: 250px;
}

.container-text-button {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.title-container-text-button {
    display: flex;
    text-align: center;
    color: #A01212;
    font-size: 30pt;
    font-family: 'Nosifer';
}

.button-container-text-button {
    background-color: black;
    border: none;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 25px;
}

.button-container-text-button:hover {
    color: red;
}

/* Ipad mini - vertical */
@media (min-width: 768px) {
    .container-pc {
        height: 350px;
        margin-top: 110px;
    }

    .container-text-button {
        height: 350px;
    }

    .img-container-pc {
        width: 400px;
    }

    .title-container-text-button {
        font-size: 45pt;
        margin-top: 70px;
    }

    .button-container-text-button {
        padding: 15px 35px;
        font-size: 22px;
        margin-top: 25px;
    }
}

/* Ipad Air - vertical */
@media (min-width: 820px) {
    .container-pc {
        height: 400px;
        margin-top: 140px;
    }

    .container-text-button {
        height: 400px;
    }

    .img-container-pc {
        width: 500px;
    }

    .title-container-text-button {
        font-size: 50pt;
        margin-top: 100px;
    }

    .button-container-text-button {
        padding: 20px 40px;
        font-size: 25px;
        margin-top: 30px;
    }
}

/* Desktop  */
@media (min-width: 1200px) {
    .container {
        flex-direction: row;
    }
    .container-pc {
        height: 400px;
        margin-top: 180px;
        margin-right: 70px;
    }

    .container-text-button {
        height: 400px;
        margin-top: 50px;
        margin-left: 70px;
    }

    .img-container-pc {
        width: 500px;
    }

    .title-container-text-button {
        font-size: 50pt;
        margin-top: 100px;
    }

    .button-container-text-button {
        padding: 15px 30px;
        font-size: 20px;
        margin-top: 30px;
    }
}